html{
	max-width: 800px;
	margin: auto;
	font-family: monospace;
	background-color: black;
	color: white;
	word-wrap: break-word;
}

body{
	text-align: center;
	margin-top: 50px;
}

footer{
	margin-top: 20px;
	padding-bottom: 25px;
}

h1{
	font-size: 35px;
	text-shadow: 0 0 3px white;
	text-align: center;
}

h3{
	font-size: 25px;
}

li{
	font-size: 20px;
	text-align: left;
	margin-bottom: 0.25rem;
}

li::marker{
	content: "";
}

footer p{
	font-size: 20px;
	text-align: center;
}


a{
	color: #1fc742;
	text-decoration: none;
}

a:hover{
	color: white;
	text-shadow: 2px 5px 2px #1fc742;
}

main div{
	line-height: 1.5;
	text-align: left;
}

main{
	font-size: 20px;
	text-align:center;
}



.site-nav {
	display:flex;
	align-items:center;
	justify-content: center;
}
  
main img{
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

strong{
	text-shadow: 0 0 3px white;
	font-size: 25px;
}

textarea {
	color: white;
	width: 100%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: rgb(19, 17, 17);
	font-size: 22px;
	resize: none;
  }

  select {
	color: white;
	width: 100%;
	padding: 16px 20px;
	border: none;
	border-radius: 4px;
	font-size: 22px;
	background-color: rgb(19, 17, 17);
  }

  input[type=button]{
	width: 100%;
	background-color: rgb(19, 17, 17);
	border: none;
	color: white;
	font-size: 22px;
	padding: 16px 32px;
	text-decoration: none;
	margin: 2px 2px;
	cursor: pointer;
  }
  input[type=button]:hover{
	background-color: white;
	color: black;
  }
  .loader {
	position: relative;
	left: 40%;
	border: 16px solid rgb(19, 17, 17); /* Light grey */
	border-top: 16px solid #1fc742; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
  }
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }